
<div class="contenedorListaDinamica">
    <div class="contenedorListas">
        <h1 class="tituloLista">Lista de productos dinamicos:</h1>
        <div class="contenedorDeProductos">
        </div>
    </div>
</div>
<script src="./socket.io/socket.io.js"></script>
<script  src="./js/realtimeProductsSocket.js"></script>