<div class="contenedorAdmin">
    {{#if mensaje}}
        <h3>{{mensaje}}</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5BkiqTa8XvLBfLm6pAaHfu3ZERh57WJqMOcXXEkWX5Y9zk5XejL49v__yMAMsG0fgXG8&usqp=CAU" alt="perroAdmin">
        {{else}}
        <h4>Solo pueden ingresar administradores</h4>
    {{/if}}

</div>